/* Global Styles */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), url('assets/fonts/Lora.ttf') format(ttf),
    url('https://fonts.google.com/specimen/Lora') format(ttf);
}

/* @font-face {
  font-family: 'Cera';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Cera.ttf') format(ttf);
} */

/* @import url('https://fonts.google.com/specimen/Lora'); */
/* Got a warning in the console */

/* If fonts render differently on differnt computers, check out https://stackoverflow.com/questions/11737168/how-to-embed-fonts-in-css*/

:root {
  --superblack: #000000;
  --black: #262626;

  --white: #ffffff;
  --moonstone: #f0f0f0;
  --magnesium: #cccccc;
  --wet-rock: #707070;

  --passion: #e7261b;
  --danger-color: #dc3545;
  --soft-passion: #ff9292;

  --blue-jeans: #4bb3fd;
  --success-color: #40da67;
}

body {
  font-family: 'Lora';
}

#container {
  margin: auto;
  max-width: 1100px;
  padding: 0 3rem;
  margin-bottom: 3rem;
}

a:hover {
  cursor: pointer;
}
