/* Global Styles */
/* @font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), url('assets/fonts/Lora.ttf') format(ttf),
    url('https://fonts.google.com/specimen/Lora') format(ttf);
} */

/* @font-face {
	font-family: 'Cera';
	font-style: normal;
	font-weight: 400;
	src: url('assets/fonts/Cera-Pro-Regular-Italic.ttf') format(ttf);
} */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* @import url('https://fonts.google.com/specimen/Lora'); */
/* Got a warning in the console */

/* If fonts render differently on differnt computers, check out https://stackoverflow.com/questions/11737168/how-to-embed-fonts-in-css*/

:root {
  --superblack: #000000;
  --black: #262626;

  --white: #ffffff;
  --moonstone: #f0f0f0;
  --magnesium: #cccccc;
  --wet-rock: #707070;

  --passion: #e7261b;
  --dark-danger: #dc3545;
  --light-danger: #ff7474;
  --soft-passion: #ff9292;

  --blue-jeans: #4bb3fd;
  --success: #40da67;
}

p,
span {
  font-family: 'Inter';
  line-height: 1.3;
}

#container {
  margin: auto;
  max-width: 1400px;
  padding: 0 3rem;
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
}

a:hover,
button:hover,
video:hover {
  cursor: pointer;
}
