/* MostLikedPosts.js */
.home-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 3em;
}

.home-left-wrapper {
  width: 40%;
}

.preview-wrapper {
  width: 60%;
}

/* PostPreview.js */
.preview-top-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.preview-left-wrapper {
  display: flex;
  flex-direction: row;
}

.preview-profile-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  /* padding: 5px; */
}

.preview-user-metadata {
  margin-left: 1em;
}

.preview-username {
  font-weight: 600;
  padding: 0 0 0.5em 0;
  font-size: 16px;
}

.preview-caption {
  font-size: 14px;
}

.deal-btn {
  padding: 10px 20px;
  background-color: var(--white);
  border: 1px solid var(--passion);
  font-size: var(--subheader);
}

.btn-link {
  color: var(--passion);
  text-decoration: none;
}

.preview-video-wrapper {
  width: calc(0.56 * (400px + ((100vw - 768px) / 1152) * 100));
  margin-top: 1em;
}

.preview-video {
  height: calc(400px + ((100vw - 768px) / 1152) * 100);
  width: calc(0.56 * (400px + ((100vw - 768px) / 1152) * 100));
}

.preview-video:hover {
  cursor: pointer;
}

.product-wrapper {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
}

.product-image {
  height: 40px;
  width: 40px;
}

.product-name {
  margin-left: 10px;
  font-size: 14px;
}

.preview-video-wrapper {
  display: table;
  width: auto;
  position: relative;
  width: 50%;
}

.playing {
  background-image: url('../../assets/images/icons/pause.svg');
  background-repeat: no-repeat;
  width: 10%;
  height: 10%;
  position: absolute;
  left: 10%;
  right: 0%;
  top: 90%;
  bottom: 0%;
  background-size: contain;
  z-index: 5;
}

.paused {
  background-image: url('../../assets/images/icons/play.svg');
  background-repeat: no-repeat;
  width: 10%;
  height: 10%;
  position: absolute;
  left: 10%;
  right: 0%;
  top: 90%;
  bottom: 0%;
  background-size: contain;
  z-index: 5;
}

.mute {
  background-image: url('../../assets/images/icons/mute.svg');
  background-repeat: no-repeat;
  width: 10%;
  height: 10%;
  position: absolute;
  left: 80%;
  right: 0%;
  top: 90%;
  bottom: 0%;
  background-size: contain;
  z-index: 5;
}

.unmuted {
  background-image: url('../../assets/images/icons/unmute.svg');
  background-repeat: no-repeat;
  width: 10%;
  height: 10%;
  position: absolute;
  left: 80%;
  right: 0%;
  top: 90%;
  bottom: 0%;
  background-size: contain;
  z-index: 5;
}
