/* UploadForm.js */
#upload-form .form-field-wrapper {
  margin: 15px 0;
  width: 100%;
  justify-content: left;
  display: flex;
  flex-direction: row;
}

#upload-form .form-row {
  border-bottom: 1px solid var(--moonstone);
  display: flex;
  flex-direction: row;
}

#upload-form .form-row-label {
  display: flex;
  flex-direction: row;
  height: 42px;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  color: #8898aa;
  font-weight: 400;
  margin-right: 1em;
}

#upload-form .form-field {
  padding: 0.5em 10px;
  width: 40%;
  font-size: 14px;
  color: var(--black);
  border: 0.5px solid var(--wet-rock);
  box-shadow: 0 0.0625rem 0.125rem var(--moonstone);
}

#upload-form .form-btn {
  height: 40px;
  width: 75%;
  max-width: 300px;
  background-color: var(--passion);
  border: none;
  font-size: 16px;
  color: var(--white);
  margin: 20px 20px 20px 0;
}

#upload-form .inputFile {
  display: inline-block;
  padding: 12px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  border: 0.5px solid var(--wet-rock);
  box-shadow: 0 0.0625rem 0.125rem var(--moonstone);
}

#upload-form .toggle-wrapper {
  margin-top: 1em;
}

/* SelectSearch */

#upload-form .select-search {
  width: 300px;
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}

#upload-form .select-search *,
#upload-form .select-search *::after,
#upload-form .select-search *::before {
  box-sizing: inherit;
}

#upload-form .select-search__value {
  position: relative;
  z-index: 1;
}

#upload-form .select-search__value::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px);
  right: 19px;
  width: 11px;
  height: 11px;
}

#upload-form .select-search__input {
  display: block;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: 1px solid var(--wet-rock);
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  outline: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 36px;
  -webkit-appearance: none;
}

#upload-form .select-search__select {
  background: #fff;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}

/**
 * Options
 */
#upload-form .select-search__options {
  list-style: none;
}

/**
 * Option row
 */
#upload-form .select-search__row:not(:first-child) {
  border-top: 1px solid #eee;
}

/**
 * Option
 */
#upload-form .select-search__option,
#upload-form .select-search__not-found {
  display: block;
  height: 50px;
  line-height: 1.5;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: none;
  outline: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

#upload-form .select-search--multiple .select-search__option {
  height: 55px;
}

#upload-form .select-search__option.is-selected {
  background: #2fcc8b;
  color: #fff;
}

#upload-form .select-search__option.is-highlighted,
#upload-form .select-search__option:not(.is-selected):hover {
  background: rgba(47, 204, 139, 0.1);
}

#upload-form .select-search__option.is-highlighted.is-selected,
#upload-form .select-search__option.is-selected:hover {
  background: #2eb378;
  color: #fff;
}
