#profile #user-profile-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

#profile .product-wrapper {
  width: 100%;
}

#profile .profile-top-wrapper {
  display: flex;
  flex-direction: row;
}

#profile .basic-info-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1.25em;
}

#profile #username {
  font-size: 24px;
  color: var(--superblack);
  font-weight: 500;
  margin-block-start: 0px;
  margin-block-end: 0.25em;
}

#profile #name {
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  margin-block-start: 0px;
  margin-block-end: 0.75em;
}

#profile #bio {
  color: var(--black);
  font-size: 12px;
  margin-block-start: 0px;
  margin-block-end: 0.75em;
}

#profile .action-btn {
  border-radius: 0;
  background-color: white;
  border: 1.5px solid var(--passion);
  color: var(--passion);
  padding: 5px 20px;
  box-shadow: none;
  height: 30px;
  width: 15em;
  margin-left: 2em;
  font-size: 15px;
}

#profile .user-stats-wrapper {
  display: flex;
  flex-direction: row;
}

#profile .stat-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  margin-top: 0.25em;
}

#profile .stat-number {
  font-weight: 600;
  font-size: 15px;
  padding: 3px 0;
}

#profile .stat-label {
  font-size: 12px;
}
