/* Profile.js */

#profile .main-right-wrapper {
  display: flex;
  flex-direction: column;
}

#profile .preview-post-wrapper {
  margin-top: 25px;
}

#profile #user-profile-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

#profile .product-wrapper {
  width: 100%;
}

#profile .profile-top-wrapper {
  display: flex;
  flex-direction: row;
}

#profile .basic-info-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1.25em;
}

#profile #username {
  font-size: 24px;
  color: var(--superblack);
  font-weight: 500;
  margin-block-start: 0px;
  margin-block-end: 0.25em;
}

#profile #name {
  color: var(--black);
  font-size: 16px;
  font-weight: 500;
  margin-block-start: 0px;
  margin-block-end: 0.75em;
}

#profile #bio {
  color: var(--black);
  font-size: 12px;
  margin-block-start: 0px;
  margin-block-end: 0.75em;
}

#profile .action-btn {
  border-radius: 0;
  background-color: white;
  border: 1.5px solid var(--passion);
  color: var(--passion);
  padding: 5px 20px;
  box-shadow: none;
  height: 30px;
  width: 15em;
  margin-left: 2em;
  font-size: 15px;
}

#profile .user-stats-wrapper {
  display: flex;
  flex-direction: row;
}

#profile .stat-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  margin-top: 0.25em;
}

#profile .stat-number {
  font-weight: 600;
  font-size: 15px;
  padding: 3px 0;
}

#profile .stat-label {
  font-size: 12px;
}

/* ProfileVideoPreview.js */
.preview-video-wrapper:hover .hover-msg {
  display: block;
  position: absolute;
  text-align: center;
  /* margin-top: 5px; */
  bottom: 40%;
  left: 34%;
  background-color: var(--passion);
  color: var(--white);
  padding: 1em 0.5em;
  border-radius: 2px;
  width: 7em;
  font-size: 12px;
  z-index: 20;
}

/* EditStripeAccount.js */
#stripe-form .form-row {
  border-bottom: 1px solid var(--moonstone);
  display: flex;
  flex-direction: row;
}

#stripe-form .form-field-wrapper {
  margin: 15px 0;
  width: 1000px;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: left;
}

#stripe-form .form-row-label {
  display: flex;
  flex-direction: row;
  height: 42px;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  color: #8898aa;
  font-weight: 400;
  margin-right: 1em;
}

#stripe-form .form-field {
  padding: 0.5em 10px;
  width: 40%;
  font-size: 14px;
  color: var(--black);
  border: 0.5px solid var(--wet-rock);
  box-shadow: 0 0.0625rem 0.125rem var(--moonstone);
}

#stripe-form .form-btn {
  height: 40px;
  width: 75%;
  max-width: 300px;
  background-color: var(--passion);
  border: none;
  font-size: 16px;
  color: var(--white);
  margin: 20px 20px 20px 0;
}
