/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: sticky;
}

/* Nav links */

.logo a {
  text-decoration: none;
  color: var(--black);
}

.navbar-left-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.nav-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-item {
  padding: 10px;
  position: relative;
  display: inline-block;
}

.nav-primary-link {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
}

.nav-secondary-menu {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin: auto;
  height: 100%;
  padding-top: 10px;
}

.nav-secondary-link {
  color: var(--wet-rock);
  padding: 0em 1.5em;
  text-decoration: none;
  top: 50%;
}

/* Show the dropdown menu on hover */
.nav-item:hover .nav-secondary-menu {
  display: flex;
  align-items: center;
  /* min-height: 100%; */
}

/* Change color of dropdown links on hover */
.nav-secondary-menu a:hover {
  color: var(--passion);
  font-weight: 500;
}

/* Display red underline under hovered link */
.nav-item:hover .nav-primary-link {
  border-bottom: 2px solid var(--passion);
  padding-bottom: 5px;
}

/* Log in */
.navbar-right-wrapper {
  display: flex;
  flex-direction: row;
  width: 20%;
  text-align: right;
}

.nav-btn-wrapper {
  margin: auto;
}

.nav-btn {
  padding: 10px 30px;
  width: 150px;
  height: 50px;
  background-color: var(--passion);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: var(--white);
}

.icons-wrapper {
  /* margin: auto; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.upload-wrapper {
  margin: auto;
  margin-right: 2em;
}

#upload-icon {
  width: 80%;
}

.upload-caption {
  display: none;
}

.upload-wrapper:hover .upload-caption {
  display: block;
  position: absolute;
  text-align: center;
  margin-top: 5px;
  background-color: var(--wet-rock);
  color: var(--white);
  padding: 1em 0.5em;
  border-radius: 2px;
  width: 7em;
  font-size: 12px;
}

.nav-profile-wrapper {
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  /* height: 100%; */
  /* width: 100%; */
  text-align: right;
  position: relative;
}

.profile-pic {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  /* padding: 5px; */
}

.profile-pic:hover {
  cursor: pointer;
}

.nav-auth-menu.hide {
  display: none;
}

.nav-auth-menu-item {
  width: 100%;
  padding: 10px 0 10px 10px;
}

.nav-auth-menu.show {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  position: absolute;
  padding-top: 20px;
  width: 200%;
  background: var(--white);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  text-align: left;
}

/* ALERTS */
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.alert-success {
  background: var(--success-color);
  color: #fff;
}
