/* Navbar.js */

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  z-index: 2;
}

.logo a {
  text-decoration: none;
  color: var(--black);
}

.navbar-left-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
}

/*
.nav-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-item {
  padding: 10px;
  position: relative;
  display: inline-block;
}

.nav-primary-link {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
}

.nav-secondary-menu {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: var(--white);
  margin: auto;
  height: 100%;
  padding-top: 10px;
}

.nav-secondary-link {
  color: var(--wet-rock);
  padding: 0em 1.5em;
  text-decoration: none;
  top: 50%;
}

.nav-item:hover .nav-secondary-menu {
  display: flex;
  align-items: center;
}

.nav-secondary-menu a:hover {
  color: var(--passion);
  font-weight: 500;
}

.nav-item:hover .nav-primary-link {
  border-bottom: 2px solid var(--passion);
  padding-bottom: 5px;
} */

.navbar-right-wrapper.desktop {
  display: flex;
  flex-direction: row;
  width: 20%;
  text-align: right;
}

.navbar-right-wrapper.mobile {
  display: none;
}

.login-btn-wrapper.desktop {
  margin: auto;
}

.login-btn.desktop {
  padding: 10px 30px;
  width: 150px;
  height: 50px;
  background-color: var(--passion);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: var(--white);
}

.icons-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}

.upload-wrapper {
  margin: auto;
  margin-right: 2em;
}

#upload-icon {
  width: 80%;
}

.hover-msg {
  display: none;
}

.upload-wrapper:hover .hover-msg {
  display: block;
  position: absolute;
  text-align: center;
  margin-top: 5px;
  background-color: var(--wet-rock);
  color: var(--white);
  padding: 1em 0.5em;
  border-radius: 2px;
  width: 7em;
  font-size: 12px;
}

.nav-profile-wrapper {
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  /* height: 100%; */
  /* width: 100%; */
  text-align: right;
  position: relative;
}

.profile-pic {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-pic:hover {
  cursor: pointer;
}

.nav-auth-menu.hide {
  display: none;
}

.nav-auth-menu-item {
  width: 100%;
  padding: 15px 0 15px 10px;
  /* border: 0.5px solid var(--wet-rock); */
  box-shadow: 0 0.0625rem 0.125rem var(--moonstone);
}

.nav-auth-menu.show {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  padding-top: 20px;
  width: 175px;
  background: var(--white);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  text-align: left;
}

/* ALERTS */
.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.alert-danger {
  background: var(--dark-danger);
  color: #fff;
}

.alert-success {
  background: var(--success);
  color: #fff;
}

/* Left sidebar */
#sidebar p {
  line-height: 1.5;
}

#sidebar #header {
  font-size: 2.5em;
}

#sidebar #subheader {
  font-size: 1.25em;
}

.toggle-wrapper {
  display: block;
  margin-top: 3em;
  max-width: 300px;
}

.toggle-wrapper:hover {
  cursor: pointer;
}

#sidebar .toggle-header {
  font-weight: 500;
  font-size: 18px;
}

#sidebar .toggle-body {
  margin-block-start: 0;
  font-size: 16px;
  color: var(--wet-rock);
}

.downToggle {
  border: solid var(--wet-rock);
  float: right;
  border-width: 0 2px 2px 0;
  margin-top: 7px;
  padding: 3px;
  transform: rotate(45deg);
}

.upToggle {
  border: solid var(--wet-rock);
  float: right;
  border-width: 0 2px 2px 0;
  padding: 3px;
  margin-top: 9px;
  transform: rotate(225deg);
}

/* Search */

.search-wrapper {
  display: flex;
  align-items: center;
  width: 70%;
  padding: 0 20px;
  border-radius: 10px;
}

button.search-searchbar {
  background-color: #f7fafc;
  border-radius: 8px;
  padding: 4px 12px;
  width: 100%;
  min-height: 34px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: var(--wet-rock);
  border: 0.5px solid var(--moonstone);
  outline: none;
}

.popup-content {
  height: 75%;
  border-radius: 20px;
  padding: 0 !important;
  overflow-y: auto;
}

.ais-SearchBox {
  margin: 1em 1em;
}

input.ais-SearchBox-input {
  background-color: #f7fafc;
  border-radius: 8px !important;
  padding: 4px 8px;
  min-height: 28px;
  font-size: 15px;
  line-height: 30px;
  color: var(--wet-rock);
  border: 0.5px solid var(--moonstone);
  outline: none;
  width: 100%;
}

/* button.ais-SearchBox-submit {
  padding: 0.25em 0em 0.25em 0.5em;
}

.ais-SearchBox-resetIcon {
  margin-left: 5px;
} */

.ais-Hits {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-reset {
  display: none;
}

.ais-Hits-list {
  padding: 0 1.5em;
  margin-block-start: 0;
}

.ais-Hits-item {
  padding: 0.25em 0;
  border-bottom: 1px solid var(--magnesium);
  list-style: none;
}

.picture-wrapper {
  width: 8%;
  display: inline-block;
  vertical-align: top;
  margin-top: 1em;
}

.results-text-wrapper {
  width: 92%;
  display: inline-block;
  vertical-align: top;
}

.result-picture {
  width: 30px;
}

.result-picture.rounded {
  object-fit: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.ais-Hits-item:hover {
  cursor: pointer;
  background-color: #f1f6fd;
}

.hits-section-title {
  padding: 0 1em;
  color: var(--wet-rock);
  margin: 0.75em 0 0.5em 0;
  margin-block-end: 0;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  /* Navbar.js */
  .login-btn {
    width: 50px;
    height: 25px;
  }
  .navbar-left-wrapper {
    width: 95%;
  }

  .navbar-right-wrapper.desktop {
    display: none;
  }

  .navbar-right-wrapper.mobile {
    display: flex;
    align-items: center;
  }

  /* MobileMenu.js */
  #mobile-nav-wrapper .nav-items {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    width: 40vw;
    background: var(--white);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    list-style-type: none;
    text-align: left;
    right: 0%;
    margin-top: 1.5em;
    padding-left: 0;
  }

  #mobile-nav-wrapper .nav-item {
    width: 100%;
    padding: 15px 0 15px 10px;
    box-shadow: 0 0.0625rem 0.125rem var(--moonstone);
  }
}
